<html lang="en">
<head>
    <title>Index Page</title>
</head>
<body>
<form action="payment" method="post">
    <table>

        <tr>
            <td><label for="amount">amount</label></td>
            <td><input type="number" step="any" name="amount"></input></td>
        </tr>
        <tr>
            <td><label for="currency">currency</label></td>
            <td><input type="text" name="currency"></input></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit"></input></td>
        </tr>
    </table>
</form>
</body>
</html>